<sw-header> </sw-header>

<!-- 
<div *ngIf="randomValue > 0.5; else noDataBlock">
  <h1>
    {{ message | uppercase }}
  </h1>
  <h2>{{ 22 / 7 | number: "1.3-3" }}</h2>
  <h3>{{ today }}</h3>
</div>
<ng-template #noDataBlock>
  <div>No data found {{ randomValue }}</div>
</ng-template> -->

<!-- <sw-spinner></sw-spinner> -->
<!-- <sw-greet> </sw-greet> -->
<!-- <sw-looping></sw-looping>
-->
<!-- <sw-looping></sw-looping> -->
<!-- <sw-student></sw-student> -->
<!-- <sw-students></sw-students> -->
<!-- <div class="container">
  <sw-product-item></sw-product-item>
</div> -->
<!-- <sw-product-list></sw-product-list> -->
<!-- <sw-raiting [rating]="2.5"></sw-raiting> -->
<!-- <sw-gallery></sw-gallery> -->
<!-- <sw-number-api></sw-number-api> -->
<!-- <div>
  <sw-toway-binding></sw-toway-binding>
</div> -->
<!-- <div>
  <sw-dropdown></sw-dropdown>
</div> -->
<!-- <sw-login-form></sw-login-form> -->
<!-- <sw-foo-bar></sw-foo-bar> -->
<!-- <sw-foo-jaz></sw-foo-jaz> -->
<sw-footer> </sw-footer>
