<div>
  one way using binding expression {{ salary }}
  <br />
  one way binding: <input type="number" name="" id="" [value]="salary" /> two
  way binding:(model to view and view to model)
  <input type="number" [(ngModel)]="salary" />
  <br />
  <p>Please select your favorite Web language:</p>
  <input
    type="radio"
    id="html"
    name="fav_language"
    value="HTML"
    [(ngModel)]="favLanguage"
  />
    <label for="html">HTML</label><br />
  <input
    type="radio"
    id="css"
    name="fav_language"
    value="CSS"
    [(ngModel)]="favLanguage"
  />
    <label for="css">CSS</label><br />
  <input
    type="radio"
    id="javascript"
    name="fav_language"
    value="JavaScript"
    [(ngModel)]="favLanguage"
  />
  <label for="javascript">JavaScript</label>
  <b>{{ favLanguage }}</b>
</div>
